@(row: Form[UpdateAccountForm])(implicit messages: Messages)

@import helper._

@main("Actualizar Cuenta") {
    @form(routes.AccountController.updatePost()) {
        @inputText(row("id"), 'hidden -> "true", '_label -> "")
        @inputText(row("code"))
        @inputText(row("name"))
        @inputText(row("type_1"))
        @inputText(row("description"))
        <input type="submit" value="Actualizar"  class="btn btn-primary"/>
        <a href="/accounts_view" class="btn btn-primary">Cancel</a>
    }
}
