@(banco: Form[CreateBancoForm])(implicit messages: Messages)

@import helper._

@main("Agregar cuentas") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/banco_index.js")'></script>

    @form(routes.BancoController.addBanco()) {
        @inputText(banco("nombre"))
        @inputText(banco("tipo"))
        <input type="submit" value="Guardar"/>
    }
    <div class="table-responsive">
        <table class="table" id="bancos">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                </tr>
            </thead>
        </table>
    </div>
}
