@(banco: Form[UpdateBancoForm])(implicit messages: Messages)

@import helper._

@main("Actualizar Cuenta") {
	<a href="/cuentas_view"><span class="glyphicon glyphicon-plus">Lista</span></a>
    @form(routes.BancoController.updateBanco()) {
        @inputText(banco("id"), 'hidden -> "true", '_label -> "")
        @inputText(banco("nombre"))
        @inputText(banco("tipo"))
        <input type="submit" value="Actualizar"/>
        <a href="/cuentas_view"><span class="glyphicon glyphicon-plus">Cancel</span></a>
    }
}
