@(cliente: Form[CreateClienteForm])(implicit messages: Messages)

@import helper._

@main("Welcome to Play") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>

    @form(routes.ClienteController.addCliente()) {
        @inputText(cliente("nombre"))
        @inputText(cliente("carnet"))
        @inputText(cliente("id_asociacion"))
        <input type="submit" value="Add Doctor"/>
    }
    <div class="table-responsive">
        <table class="table" id="clientes">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Carnet</th>
                    <th>Asociacion</th>
                </tr>a
            </thead>
        </table>
    </div>
}
