@(discounts: Seq[DiscountDetail])
@import helper._

@main("Mostrar") {
    <div class="container">
        <div>
            <div style="display: inline-block; width: 150px;" >Fecha de Inicio: </div>
            <div style="display: inline-block; width: 150px;" id="startDate">01/01/2016 </div>
            <div style="display: inline-block; width: 150px;">Fecha Final: </div>
            <div style="display: inline-block; width: 150px;" id="endDate">01/15/2016 </div>
        </div>
        <div>
            <div style="display: inline-block; width: 150px;"> Total: </div>
            <div style="display: inline-block; width: 150px;" id="total"> 350 Bs </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table" id="rows">
            <thead>
                <tr>
                    <th>Productor</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
            @for(discount <- discounts) {
                <tr><td>@discount.productorId</td><td>@discount.amount</td></tr>
            }
            </tbody>
        </table>
    </div>

}
