@(handler: be.objectify.deadbolt.scala.DeadboltHandler)(implicit request: Request[Any])
@import be.objectify.deadbolt.scala.views.html._
@import helper._

@main("Pagina Principal") {
    <a href="/logout">Cerrar session</a>
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>
    <div class="table-responsive">
        <table class="table" id="clientes">
            <thead>
                <tr>
                    <th>Formulario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            @restrict(roles = List(Array("product"))) {
                <tr>
                    <td>
                        Productos
                    </td>
                    <td>
                        <a href="/product_list"><span class="glyphicon glyphicon-plus"></span>Lista</a>
                        <a href="/products"><span class="glyphicon glyphicon-th-list"></span></a>
                    </td>
                </tr>
            }
            @restrict(roles = List(Array("proveedor"))) {
                <tr>
                    <td>
                        Proveedores
                    </td>
                    <td>
                        <a href="/proveedores_view"><span class="glyphicon glyphicon-plus"></span>Lista</a>
                        <a href="/proveedores"><span class="glyphicon glyphicon-th-list"></span></a>
                    </td>
                </tr>
            }
            @restrict(roles = List(Array("productor"))) {
                <tr>
                    <td>
                        Productores
                    </td>
                    <td>
                        <a href="/productores_view"><span class="glyphicon glyphicon-plus">Lista</span></a>
                        <a href="/productores"><span class="glyphicon glyphicon-th-list"></span></a>
                    </td>
                </tr>
            }
            @restrict(roles = List(Array("module"))) {
                <tr>
                    <td>
                        Modulos
                    </td>
                    <td>
                        <a href="/modules_view"><span class="glyphicon glyphicon-plus">Lista</span></a>
                        <a href="/modules"><span class="glyphicon glyphicon-th-list"></span></a>
                    </td>
                </tr>
            }
            @restrict(roles = List(Array("veterinario"))) {
                <tr>
                    <td>
                        Veterinarios
                    </td>
                    <td>
                        <a href="/veterinarios_view"><span class="glyphicon glyphicon-plus"></span>Lista</a>
                        <a href="/veterinarios"><span class="glyphicon glyphicon-th-list"></span></a>
                    </td>
                </tr>
            }
            @restrict(roles = List(Array("user"))) {
                <tr>
                    <td>
                        Usuarios
                    </td>
                    <td>
                        <a href="/users_view"><span class="glyphicon glyphicon-plus"></span>Lista</a>
                        <a href="/users"><span class="glyphicon glyphicon-th-list"></span></a>
                    </td>
                </tr>
            }
            @restrict(roles = List(Array("storekeeper"))) {
                <tr>
                    <td>
                        Almacen
                    </td>
                    <td>
                        <a href="/storekeepers_view"><span class="glyphicon glyphicon-plus"></span>Lista</a>
                        <a href="/storekeepers"><span class="glyphicon glyphicon-th-list"></span></a>
                    </td>
                </tr>
            }
            @restrict(roles = List(Array("insumo"))) {
                <tr>
                    <td>
                        Insumos
                    </td>
                    <td>
                        <a href="/insumoUsers_view"><span class="glyphicon glyphicon-plus"></span>Lista</a>
                        <a href="/insumoUsers"><span class="glyphicon glyphicon-th-list"></span></a>
                    </td>
                </tr>
            }
            @restrict(roles = List(Array("account"))) {
            <tr>
                <td>
                    Cuentas
                </td>
                <td>
                    <a href="/accounts_view"><span class="glyphicon glyphicon-plus"></span>Lista</a>
                    <a href="/accounts"><span class="glyphicon glyphicon-th-list"></span></a>
                </td>
            </tr>
            }
            @restrict(roles = List(Array("transaction"))) {
            <tr>
                <td>
                    Transacciones
                </td>
                <td>
                    <a href="/transactions_view"><span class="glyphicon glyphicon-plus"></span>Lista</a>
                    <a href="/transactions_list"><span class="glyphicon glyphicon-th-list"></span></a>
                </td>
            </tr>
            }
            @restrict(roles = List(Array("report"))) {
            <tr>
                <td>
                    Reportes
                </td>
                <td>
                    <a href="/reportes_view"><span class="glyphicon glyphicon-plus"></span>Lista</a>
                    <a href="/reportes"><span class="glyphicon glyphicon-th-list"></span></a>
                </td>
            </tr>
            }
        </table>
    </div>
}

<p>roles:</p>
