@(cliente: Form[CreateClienteForm])(implicit messages: Messages)

@import helper._

@main("Welcome to Play") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/index.js")'></script>

    <div class="table-responsive">
        <table class="table" id="clientes">
            <thead>
                <tr>
                    <th>Formulario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tr>
                <td>
                    Insumos
                </td>
                <td>
                    <a href="/cliente_view"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="/cliente_view"><span class="glyphicon glyphicon-th-list"></span></a>
                </td>
            </tr>
            <tr>
                <td>
                    Proveedores
                </td>
                <td>
                    <a href="/cliente_view"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="/cliente_view"><span class="glyphicon glyphicon-th-list"></span></a>
                </td>
            </tr>
            <tr>
                <td>
                    Productores
                </td>
                <td>
                    <a href="/cliente_doctor"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="/cliente_view"><span class="glyphicon glyphicon-th-list"></span></a>
                </td>
            </tr>
            <tr>
                <td>
                    Bancos
                </td>
                <td>
                    <a href="/cliente_doctor"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="/cliente_view"><span class="glyphicon glyphicon-th-list"></span></a>
                </td>
            </tr>

            <tr>
                <td>
                    Veterinarios
                </td>
                <td>
                    <a href="/cliente_transaccion"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="/cliente_view"><span class="glyphicon glyphicon-th-list"></span></a>
                </td>
            </tr>
            <tr>
                <td>
                    Transacciones
                </td>
                <td>
                    <a href="/cliente_doctor"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="/cliente_view"><span class="glyphicon glyphicon-th-list"></span></a>
                </td>
            </tr>
            <tr>
                <td>
                    Reportes
                </td>
                <td>
                    <a href="/cliente_doctor"><span class="glyphicon glyphicon-plus"></span></a>
                    <a href="/cliente_view"><span class="glyphicon glyphicon-th-list"></span></a>
                </td>
            </tr>
        </table>
    </div>
}
