@(row: Form[CreateInsumoForm])(implicit messages: Messages)

@import helper._

@main("Agregar") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/insumo_index.js")'></script>
    <div>
        <a href="/" >Muro</a>
    </div>
    @form(routes.InsumoController.addInsumo()) {
        @inputText(row("nombre"))
        @inputText(row("costo"))
        @inputText(row("porcentage"))
        @inputText(row("descripcion"))
        @inputText(row("unidad"))
        @inputText(row("currentAmount"))
        <input type="submit" class="btn btn-primary" value="Agregar Producto"/>
    }
    <div class="table-responsive">
        <table class="table" id="rows">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Costo</th>
                    <th>Porcentage</th>
                    <th>Descripcion</th>
                    <th>Unidad</th>
                    <th>Current Amount</th>
                    <th>-----------</th>
                </tr>
            </thead>
        </table>
    </div>
}
