@(productor: Form[UpdateProductorForm])(implicit messages: Messages)

@import helper._

@main("Actualizar Cuenta") {
	<a href="/productores_view"><span class="glyphicon glyphicon-plus">Lista</span></a>
    @form(routes.ProductorController.updateProductor()) {
        @inputText(productor("id"), 'hidden -> "true", '_label -> "")
        @inputText(productor("nombre"))
        <input type="submit" value="Actualizar"/>
        <a href="/productores_view"><span class="glyphicon glyphicon-plus">Cancel</span></a>
    }
}
