@(row: Form[UpdateProductForm])(implicit messages: Messages)

@import helper._

@main("Actualizar") {
    @form(routes.ProductController.updatePost()) {
        @inputText(row("id"), 'hidden -> "true", '_label -> "")
        @inputText(row("nombre"))
        @inputText(row("costo"))
        @inputText(row("porcentage"))
        @inputText(row("descripcion"))
        @inputText(row("unidad"))
        @inputText(row("currentAmount"))
        <input type="submit" class="btn btn-primary" value="Actualizar"/>
        <a href="/products_view" class="btn btn-primary">Cancel</a>
    }
}
