@(row: Form[CreateProductorForm], associations: Map[String, String])(implicit messages: Messages)

@import helper._

@main("Agregar") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/productor_index.js")'></script>
    <div>
        <a href="/"><span class="glyphicon glyphicon-plus">Muro @associations</span></a>
    </div>
    @form(routes.ProductorController.add()) {
        @inputText(row("nombre"), '_label -> "Nombre Productor")
        @inputText(row("carnet"))
        @inputText(row("telefono"))
        @inputText(row("direccion"))
        @inputText(row("cuenta"))
        @select(field = row("asociacion"), options = options(associations))

        <input type="submit" value="Guardar"/>
    }
    <div class="table-responsive">
        <table class="table" id="rows">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Carnet</th>
                    <th>Telefono</th>
                    <th>Cuenta</th>
                    <th>Asociacion</th>
                    <th>---</th>
                </tr>
            </thead>
        </table>
    </div>
}
