@(banco: Form[CreateProductorForm])(implicit messages: Messages)

@import helper._

@main("Agregar productor") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/productor_index.js")'></script>

    @form(routes.ProductorController.addProductor()) {
        @inputText(banco("nombre"), '_label -> "Nombre Productor")
        @inputText(banco("carnet"))
        @inputText(banco("telefono"))
        @inputText(banco("direccion"))
        @inputText(banco("cuenta"))
        @inputText(banco("asociacion"))
        @select(field = banco("asociacion"), options = options(Map("1" -> "Asociacion 1","2"-> "Asociacion 2")))

        <input type="submit" value="Guardar"/>
    }
    <div class="table-responsive">
        <table class="table" id="productores">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Carnet</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Cuenta</th>
                    <th>Asociacion</th>
                </tr>
            </thead>
        </table>
    </div>
}
