@import helper._

@main("Mostrar cuenta") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/productor_index_show.js")'></script>
    <div>
        <a href="/productores_view"><span class="glyphicon glyphicon-plus">Lista</span></a>
    </div>
    <div class="container">
        <div>
            <div style="display: inline-block;"> Name: </div>
            <div style="display: inline-block;" id="name">  </div>
        </div>
        <div>
            <div style="display: inline-block;"> Type: </div>
            <div style="display: inline-block;" id="type">  </div>
        </div>
    </div>
}
