@(row: Form[CreateProductForm])(implicit messages: Messages)

@import helper._

@main("Agregar") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/product_index.js")'></script>
    <div>
        <a href="/" >Muro</a>
    </div>
    @form(routes.ProductController.addProduct()) {
        <div class="container">
        <div class="col-md-6">
            @inputText(row("nombre"))
            @inputText(row("costo"))
            @inputText(row("porcentage"))
            @textarea(row("descripcion"), 'rows -> 3, 'cols -> 100)
        </div>
        <div class="col-md-6">
            @inputText(row("unidad"))
            @inputText(row("currentAmount"))
        </div>
        <div class="col-md-12">
            <input type="submit" class="btn btn-primary" value="Agregar Producto"/>
        </div>
        </div>
    }
    <div>
        Lista de Productos
    </div>
    <div class="table-responsive">
        <table class="table" id="rows">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Costo</th>
                    <th>Porcentage</th>
                    <th>Descripcion</th>
                    <th>Unidad</th>
                    <th>En Inventario</th>
                    <th>-----------</th>
                </tr>
            </thead>
        </table>
    </div>
}
