@(row: Form[CreateProductorForm], modules: Map[String, String])(implicit messages: Messages)

@import helper._

@main("Agregar") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/productor_index.js")'></script>
    <div>
        <a href="/">Muro</a>
    </div>
    @form(routes.ProductorController.add()) {
        @inputText(row("nombre"), '_label -> "Nombre Productor")
        @inputText(row("carnet"))
        @inputText(row("telefono"))
        @inputText(row("direccion"))
        @inputText(row("account"))
        @select(field = row("module"), options = options(modules))

        <input type="submit" value="Guardar" class="btn btn-primary"/>
    }
    <div class="table-responsive">
        <table class="table" id="rows">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Carnet</th>
                    <th>Telefono</th>
                    <th>Cuenta</th>
                    <th>Modulo</th>
                    <th>---</th>
                </tr>
            </thead>
        </table>
    </div>
}
