@(proveedor: Form[CreateProveedorForm])(implicit messages: Messages)

@import helper._

@main("Agregar proveedor") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/proveedor_index.js")'></script>
    <div>
        <a href="/">Muro</a>
    </div>
    @form(routes.ProveedorController.addProveedor()) {
        @inputText(proveedor("nombre"))
        @inputText(proveedor("telefono"))
        @inputText(proveedor("direccion"))
        @inputText(proveedor("contacto"))
        @inputText(proveedor("cuenta"))
        <input type="submit" class="btn btn-primary" value="Agregar Proveedor"/>
    }
    <div class="table-responsive">
        <table class="table" id="rows">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Contacto</th>
                    <th>Cuenta</th>
                    <th>-----------</th>
                </tr>
            </thead>
        </table>
    </div>
}
