@import helper._

@main("Balance General") {
    <div>Balance General</div>
    <div class="table-responsive">
    <table class="table">
        <tr>
            <td>
                <table id="activos_table">
                <tbody>
                    <tr>
                        <td>ACTIVO</td>
                    </tr>
                    <tr>
                        <td>CIRCULANTE</td>
                    </tr>
                    <tr>
                        <td>Cuenta Activo 1</td>
                    </tr>
                    <tr>
                        <td>Cuenta Activo 2</td>
                    </tr>
                    <tr>
                        <td>Cuenta Activo 3</td>
                    </tr>
                    <tr>
                        <td>TOTAL CIRCULANTE</td>
                    </tr>
                    <tr>
                        <td>FIJOS</td>
                    </tr>
                    <tr>
                        <td>Cuenta Activo FIJO 4</td>
                    </tr>
                    <tr>
                        <td>TOTAL FIJOS</td>
                    </tr>
                </tbody>
                </table>
            </td>
            <td>
                <table id="pasivo_table">
                <tbody>
                    <tr>
                        <td>PASIVO</td>
                    </tr>
                    <tr>
                        <td>Cuenta pasivo 1</td>
                    </tr>
                    <tr>
                        <td>Cuenta pasivo 2</td>
                    </tr>
                    <tr>
                        <td>Cuenta pasivo 3</td>
                    </tr>
                    <tr>
                        <td>Cuenta pasivo 4</td>
                    </tr>
                </tbody>
                </table>
            </td>
        </tr>
    </table>
    </div>
}
