@(banco: Form[CreateReporteForm])(implicit messages: Messages)

@import helper._

@main("Agregar réporte") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/reporte_index.js")'></script>

    @form(routes.ReporteController.addReporte()) {
        @inputText(banco("monto"))
        @inputText(banco("cuenta"))
        @inputText(banco("cliente"))
        <input type="submit" value="Guardar"/>
    }
    <div class="table-responsive">
        <table class="table" id="reportes">
            <thead>
                <tr>
                    <th>Monto</th>
                    <th>Cuenta</th>
                    <th>Cliente</th>
                </tr>
            </thead>
        </table>
    </div>
}
