@(activos: Seq[Account], pasivos: Seq[Account], patrimonios: Seq[Account])
@import helper._

@main("Balance General") {
    <div>Balance General</div>
    <div class="table-responsive">
    <table class="table">
        <tr>
            <td>
                <div>ACTIVOS</div>
                <table id="activos_table" style="width: 100%;">
                <tbody>
                    @for(activo <- activos) {
                        <tr>
                            <td>@activo.code @activo.name</td>
                            <td>@(activo.credit - activo.debit)</td>
                        </tr>
                    }
                </tbody>
                </table>
            </td>
            <td>
                <div>PASIVOS</div>
                <table id="pasivo_table" style="width: 100%;">
                <tbody>
                    @for(pasivo <- pasivos) {
                        <tr>
                            <td>@pasivo.code @pasivo.name</td>
                            <td>@(pasivo.debit - pasivo.credit)</td>
                        </tr>
                    }
                </tbody>
                </table>
                <div>PATRIMONIO</div>
                <table id="pasivo_table" style="width: 100%;">
                <tbody>
                    @for(patrimonio <- patrimonios) {
                        <tr>
                            <td>@patrimonio.code @patrimonio.name</td>
                            <td>@(patrimonio.debit - patrimonio.credit)</td>
                        </tr>
                    }
                </tbody>
                </table>

            </td>
        </tr>
    </table>
    </div>
}
