@(row: Form[CreateRequestRowForm], requests: Map[String, String], products: Map[String, String], productors: Map[String, String])(implicit messages: Messages)

@import helper._

@main("Crear") {
    <div>
        <a href="/"><span class="glyphicon glyphicon-plus">Muro</span></a>
    </div>
    @form(routes.RequestRowController.add()) {
        @select(field = row("requestId"), options = options(requests))
        @select(field = row("productorId"), options = options(productors))
        @select(field = row("productId"), options = options(products))
        @inputText(row("quantity"))
        @inputText(row("precio"))
        @inputText(row("status"))
        <input type="submit" value="Guardar"/>
    }
}
