@(transaccion: Form[CreateTransaccionForm])(implicit messages: Messages)

@import helper._

@main("Crear transaccion") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/transaccion_index.js")'></script>

    @form(routes.TransaccionController.addTransaccion()) {
        @inputDate(transaccion("fecha"))
        @inputText(transaccion("descripcion"))
        <input type="submit" value="Guardar"/>
    }
    <a href="/transaccion_list" > Cancelar </a>
    <div class="table-responsive">
        <div> Los 10 transacciones recien creadas</div>
        <table class="table" id="transacciones">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Descripcion</th>
                </tr>
            </thead>
        </table>
    </div>
}
