@import helper._

@main("Lista de transacciones") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/transaccion_index.js")'></script>

    <div class="table-responsive">
        <a href="/"><span class="glyphicon glyphicon-plus">Muro</span>
        <div>Lista de todas las transaciones creadas</div>
        <a href="/transacciones_view"><span class="glyphicon glyphicon-plus"></span>Agregar</a>
        <div>
            <p>Filtrar: DE  <input type="text" id="datepicker1"> HASTA<input type="text" id="datepicker2"></p>
        </div>
        <table class="table" id="transacciones">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Detalle</th>
                </tr>
            </thead>
        </table>
    </div>
}
