@(banco: Form[CreateVeterinarioForm])(implicit messages: Messages)

@import helper._

@main("Agregar veterinario") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/veterinario_index.js")'></script>

    @form(routes.VeterinarioController.addVeterinario()) {
        @inputText(banco("nombre"))
        @inputText(banco("carnet"))
        @inputText(banco("telefono"))
        @inputText(banco("direccion"))
        @inputText(banco("sueldo"))
        <input type="submit" value="Guardar"/>
    }
    <div class="table-responsive">
        <table class="table" id="veterinarios">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Carnet</th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Sueldo</th>
                </tr>
            </thead>
        </table>
    </div>
}
