@(banco: Form[CreateVeterinarioForm])(implicit messages: Messages)

@import helper._

@main("Welcome to Play") {
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/veterinario_index.js")'></script>

    @form(routes.VeterinarioController.addVeterinario()) {
        @inputText(banco("monto"))
        @inputText(banco("cuenta"))
        @inputText(banco("cliente"))
        <input type="submit" value="Add Veterinario"/>
    }
    <div class="table-responsive">
        <table class="table" id="veterinarios">
            <thead>
                <tr>
                    <th>Monto</th>
                    <th>Cuenta</th>
                    <th>Cliente</th>
                </tr>a
            </thead>
        </table>
    </div>
}
